<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Spring004_JavaConfig/src/com/jpm/spring/emp/GreetClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.jpm.spring.emp.GreetClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Spring004_JavaConfig"/>
</launchConfiguration>
